

<%- include ('./header.ejs') %>

<a id='qodef-back-to-top' href='#'>
<span class="qodef-btt-text">TOP</span>
</a>
<div class="qodef-content">
<div class="qodef-content-inner">
<div class="qodef-title-holder qodef-centered-type qodef-title-va-header-bottom qodef-preload-background qodef-has-bg-image qodef-bg-parallax" style="height: 520px;background-color: #f8f8f8;background-image:url(/design/wp-content/uploads/2018/09/about-us-title-img-1.jpg);" data-height="520">
<div class="qodef-title-image">
<img itemprop="image" src="/design/wp-content/uploads/2018/09/about-us-title-img-1.jpg" alt="s" />
</div>
<div class="qodef-title-wrapper" style="height: 520px">
<div class="qodef-title-inner">
<div class="qodef-grid">
<span class="qodef-page-subtitle">Amazing</span>
<h1 class="qodef-page-title entry-title">About Us</h1>
</div>
</div>
</div>
</div>
<div class="qodef-full-width">
<div class="qodef-full-width-inner">
<div class="qodef-grid-row">
<div class="qodef-page-content-holder qodef-grid-col-12">
<div class="qodef-row-grid-section-wrapper "><div class="qodef-row-grid-section"><div class="vc_row wpb_row vc_row-fluid vc_row-o-content-top vc_row-flex"><div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-offset-0 vc_col-lg-7 vc_col-md-offset-0 vc_col-md-10 vc_col-sm-offset-0"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="qodef-elements-holder   qodef-one-column  qodef-responsive-mode-768 "><div class="qodef-eh-item    " data-item-class="qodef-eh-custom-5281" data-1367-1600="155px 0px 170px" data-1025-1366="155px 0px 170px" data-769-1024="155px 0px 80px" data-681-768="155px 0px 80px" data-680="161px 0px 80px">
<div class="qodef-eh-item-inner">
<div class="qodef-eh-item-content qodef-eh-custom-5281" style="padding: 155px 0 170px 0">
<div class="qodef-section-title-holder ">
<div class="qodef-st-inner">
<h2 class="qodef-st-title">
Our Popular Tours </h2>
<p class="qodef-st-text" style="font-size: 17px;line-height: 28px;margin-top: 15px">
Si elit omnes impedit ius, vel et hinc agam fabulas. Ut audiam invenire iracundia vim. Tn eam dimo diam ea. Piber Korem sit amet. </p>
</div>
</div><div class="vc_empty_space" style="height: 13px"><span class="vc_empty_space_inner"></span></div>
<div class="wpb_text_column wpb_content_element ">
<div class="wpb_wrapper">
<p>Al elit omnes impedit ius, vel et hinc agam fabulas. Ut audiam invenire iracundia vim. En eam dico similique, ut sint posse sit, eum sumo diam ea. Liber consectetuer in mei, sea in imperdiet assue verit contentio nes, an his cibo blandit tacimates. Iusto iudi cabit sim ilique id velex, in sea rebum deseruisse appellantur. Etiam rhoncus. Maec enas tempus, tellus eget condimentum rhoncus.Aliquam lorem ante, dapibus in, viverra quis, feugiat</p>
</div>
</div>
<div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div><a itemprop="url" href="../tours-search-page/index0ed7.html?view_type=gallery" target="_self" class="qodef-btn qodef-btn-medium qodef-btn-solid">
<span class="qodef-btn-text">Read More</span>
</a> </div>
</div>
</div></div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-offset-0 vc_col-lg-5 vc_col-md-offset-0 vc_col-md-10 vc_col-sm-offset-0 vc_col-xs-12"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="qodef-elements-holder   qodef-one-column  qodef-responsive-mode-768 "><div class="qodef-eh-item    " data-item-class="qodef-eh-custom-9369" data-1367-1600="125px 0px 0 104px" data-1025-1366="125px 0px 0 23px" data-769-1024="0px 0px 170px 0px" data-681-768="0px 0px 170px 0px" data-680="0px 0px 170px 0px">
<div class="qodef-eh-item-inner">
<div class="qodef-eh-item-content qodef-eh-custom-9369" style="padding: 125px 0px 0 40px">
<div class="wpb_single_image wpb_content_element vc_align_left">
<figure class="wpb_wrapper vc_figure">
<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="420" height="420" src="/design/wp-content/uploads/2018/09/about-us-img-1.png" class="vc_single_image-img attachment-full" alt="d" loading="lazy" srcset="https://setsail.qodeinteractive.com/wp-content/uploads/2018/09/about-us-img-1.png 420w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/09/about-us-img-1-150x150.png 150w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/09/about-us-img-1-300x300.png 300w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/09/about-us-img-1-100x100.png 100w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/09/about-us-img-1-75x75.png 75w" sizes="(max-width: 420px) 100vw, 420px" /></div>
</figure>
</div>
</div>
</div>
</div></div></div></div></div></div></div></div><div class="vc_row wpb_row vc_row-fluid vc_custom_1539260876012 qodef-content-aligment-center"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="qodef-video-button-holder  qodef-vb-has-img ">
<div class="qodef-video-button-image">
<img width="2560" height="807" src="/design/wp-content/uploads/2018/09/about-us-parallax-img-1.jpg" class="attachment-full size-full" alt="d" loading="lazy" srcset="https://setsail.qodeinteractive.com/wp-content/uploads/2018/09/about-us-parallax-img-1.jpg 2560w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/09/about-us-parallax-img-1-300x95.jpg 300w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/09/about-us-parallax-img-1-1024x323.jpg 1024w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/09/about-us-parallax-img-1-768x242.jpg 768w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/09/about-us-parallax-img-1-1536x484.jpg 1536w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/09/about-us-parallax-img-1-600x189.jpg 600w" sizes="(max-width: 2560px) 100vw, 2560px" /> </div>
<a class="qodef-video-button-play-image " href="https://vimeo.com/65727879" data-rel="prettyPhoto[video_button_pretty_photo_956]">
<span class="qodef-video-button-play-inner">
<img width="69" height="69" src="/design/wp-content/uploads/2018/09/play-button.png" class="attachment-full size-full" alt="d" loading="lazy" /> </span>
</a>
</div></div></div></div></div><div class="qodef-row-grid-section-wrapper "><div class="qodef-row-grid-section"><div class="vc_row wpb_row vc_row-fluid vc_row-o-content-top vc_row-flex"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="qodef-elements-holder   qodef-two-columns  qodef-responsive-mode-1024 "><div class="qodef-eh-item  qodef-vertical-alignment-top  " data-item-class="qodef-eh-custom-7409" data-1367-1600="0px 67px 120px 137px" data-1025-1366="0px 0px 120px 32px" data-769-1024="0px 0px 65px 0px" data-681-768="0px 0px 65px 0px" data-680="0px 0px 72px 0px">
<div class="qodef-eh-item-inner">
<div class="qodef-eh-item-content qodef-eh-custom-7409" style="padding: 0px 128px 120px 128px">
<div class="wpb_single_image wpb_content_element vc_align_left">
<figure class="wpb_wrapper vc_figure">
<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="397" height="461" src="/design/wp-content/uploads/2018/09/about-us-img-2.png" class="vc_single_image-img attachment-full" alt="d" loading="lazy" srcset="https://setsail.qodeinteractive.com/wp-content/uploads/2018/09/about-us-img-2.png 397w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/09/about-us-img-2-258x300.png 258w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/09/about-us-img-2-65x75.png 65w" sizes="(max-width: 397px) 100vw, 397px" /></div>
</figure>
</div>
</div>
</div>
</div><div class="qodef-eh-item  qodef-vertical-alignment-top  " data-item-class="qodef-eh-custom-4460" data-1367-1600="40px 0px 0px 0px" data-1025-1366="40px 0px 170px 8px" data-769-1024="0px 0px 120px 0px" data-681-768="0px 0px 120px 0px" data-680="0px 0px 120px 0px">
<div class="qodef-eh-item-inner">
<div class="qodef-eh-item-content qodef-eh-custom-4460" style="padding: 40px 0px 0px 8px">
<div class="qodef-section-title-holder ">
<div class="qodef-st-inner">
<h2 class="qodef-st-title">
Our Popular Tours </h2>
<p class="qodef-st-text" style="font-size: 17px;line-height: 28px;margin-top: 14px">
Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem </p>
</div>
</div><div class="vc_empty_space" style="height: 4px"><span class="vc_empty_space_inner"></span></div><div class="qodef-progress-bar  ">
<h6 class="qodef-pb-title-holder">
<span class="qodef-pb-title">Countryside</span>
<span class="qodef-pb-percent">0</span>
</h6>
<div class="qodef-pb-content-holder">
<div data-percentage=76 class="qodef-pb-content"></div>
</div>
</div><div class="qodef-progress-bar  ">
<h6 class="qodef-pb-title-holder">
<span class="qodef-pb-title">Vineyard</span>
<span class="qodef-pb-percent">0</span>
</h6>
<div class="qodef-pb-content-holder">
<div data-percentage=92 class="qodef-pb-content"></div>
</div>
</div><div class="qodef-progress-bar  ">
<h6 class="qodef-pb-title-holder">
<span class="qodef-pb-title">Wine Tasting</span>
<span class="qodef-pb-percent">0</span>
</h6>
<div class="qodef-pb-content-holder">
<div data-percentage=86 class="qodef-pb-content"></div>
</div>
</div> </div>
</div>
</div></div></div></div></div></div></div></div><div class="vc_row wpb_row vc_row-fluid vc_custom_1540812231889"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="qodef-tours-list-holder qodef-tours-row qodef-normal-space  qodef-info-skin-light qodef-tours-columns-6 qodef-tours-type-masonry">
<div class="qodef-tours-list-holder-inner qodef-tours-row-inner-holder qodef-outer-space">
<div class="qodef-tours-list-grid-sizer"></div>
<div class="qodef-tours-masonry-item qodef-tours-row-item qodef-item-space qodef-tour-item-has-rating qodef-size-default post-3104 tour-item type-tour-item status-publish has-post-thumbnail hentry tour-category-popular tour-attribute-5-star-accommodation tour-attribute-airport-transfer-2 tour-attribute-breakfast tour-attribute-personal-guide">
<div class="qodef-tours-gim-holder-inner">
<div class="qodef-tours-gim-image">
<img width="650" height="650" src="/design/wp-content/uploads/2018/10/tour-featured-img-42-650x650.jpg" class="attachment-setsail_select_image_square size-setsail_select_image_square" alt="f" loading="lazy" srcset="https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-42-650x650.jpg 650w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-42-150x150.jpg 150w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-42-300x300.jpg 300w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-42-768x768.jpg 768w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-42-1024x1024.jpg 1024w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-42-600x600.jpg 600w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-42-100x100.jpg 100w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-42.jpg 1100w" sizes="(max-width: 650px) 100vw, 650px" /> </div>
<div class="qodef-tours-gim-content-holder">
<div class="qodef-tours-gim-content-outer">
<div class="qodef-tours-gim-content-inner">
<div class="qodef-gim-title-and-price-holder">
<h4 class="qodef-tour-title">
Barcelona </h4>
<span class="qodef-tours-price-holder">
<span class="qodef-tours-item-price ">$840</span>
</span>
</div>
</div>
</div>
</div>
<a class="qodef-tours-masonry-item-link" href="../tour-item/barcelona/index.html"></a>
</div>
</div> <div class="qodef-tours-masonry-item qodef-tours-row-item qodef-item-space qodef-tour-item-has-rating qodef-size-default post-3233 tour-item type-tour-item status-publish has-post-thumbnail hentry tour-category-popular tour-attribute-5-star-accommodation tour-attribute-airport-transfer-2 tour-attribute-breakfast tour-attribute-personal-guide">
<div class="qodef-tours-gim-holder-inner">
<div class="qodef-tours-gim-image">
<img width="650" height="650" src="/design/wp-content/uploads/2018/10/tour-featured-img-34-650x650.jpg" class="attachment-setsail_select_image_square size-setsail_select_image_square" alt="d" loading="lazy" srcset="https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-34-650x650.jpg 650w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-34-150x150.jpg 150w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-34-300x300.jpg 300w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-34-768x768.jpg 768w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-34-1024x1024.jpg 1024w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-34-600x600.jpg 600w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-34-100x100.jpg 100w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-34.jpg 1100w" sizes="(max-width: 650px) 100vw, 650px" /> </div>
<div class="qodef-tours-gim-content-holder">
<div class="qodef-tours-gim-content-outer">
<div class="qodef-tours-gim-content-inner">
<div class="qodef-gim-title-and-price-holder">
<h4 class="qodef-tour-title">
Wine Tasting </h4>
<span class="qodef-tours-price-holder">
<span class="qodef-tours-item-price ">$920</span>
</span>
</div>
</div>
</div>
</div>
<a class="qodef-tours-masonry-item-link" href="../tour-item/wine-tasting/index.html"></a>
</div>
</div> <div class="qodef-tours-masonry-item qodef-tours-row-item qodef-item-space qodef-tour-item-has-rating qodef-size-large-height post-3234 tour-item type-tour-item status-publish has-post-thumbnail hentry tour-category-popular tour-attribute-5-star-accommodation tour-attribute-airport-transfer-2 tour-attribute-breakfast tour-attribute-personal-guide">
<div class="qodef-tours-gim-holder-inner">
<div class="qodef-tours-gim-image">
<img width="650" height="1300" src="/design/wp-content/uploads/2018/10/tour-featured-img-35-650x1300.jpg" class="attachment-setsail_select_image_portrait size-setsail_select_image_portrait" alt="d" loading="lazy" /> </div>
<div class="qodef-tours-gim-content-holder">
<div class="qodef-tours-gim-content-outer">
<div class="qodef-tours-gim-content-inner">
<div class="qodef-gim-title-and-price-holder">
<h4 class="qodef-tour-title">
Camping </h4>
<span class="qodef-tours-price-holder">
<span class="qodef-tours-item-price ">$1550</span>
</span>
</div>
</div>
</div>
</div>
<a class="qodef-tours-masonry-item-link" href="../tour-item/camping/index.html"></a>
</div>
</div> <div class="qodef-tours-masonry-item qodef-tours-row-item qodef-item-space qodef-tour-item-has-rating qodef-size-default post-1263 tour-item type-tour-item status-publish has-post-thumbnail hentry tour-category-popular tour-attribute-5-star-accommodation tour-attribute-airport-transfer-2 tour-attribute-breakfast tour-attribute-personal-guide">
<div class="qodef-tours-gim-holder-inner">
<div class="qodef-tours-gim-image">
<img width="650" height="650" src="/design/wp-content/uploads/2018/09/tour-featured-img-49-650x650.jpg" class="attachment-setsail_select_image_square size-setsail_select_image_square" alt="c" loading="lazy" srcset="https://setsail.qodeinteractive.com/wp-content/uploads/2018/09/tour-featured-img-49-650x650.jpg 650w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/09/tour-featured-img-49-150x150.jpg 150w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/09/tour-featured-img-49-300x300.jpg 300w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/09/tour-featured-img-49-768x768.jpg 768w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/09/tour-featured-img-49-1024x1024.jpg 1024w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/09/tour-featured-img-49-600x600.jpg 600w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/09/tour-featured-img-49-100x100.jpg 100w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/09/tour-featured-img-49.jpg 1100w" sizes="(max-width: 650px) 100vw, 650px" /> </div>
<div class="qodef-tours-gim-content-holder">
<div class="qodef-tours-gim-content-outer">
<div class="qodef-tours-gim-content-inner">
<div class="qodef-gim-title-and-price-holder">
<h4 class="qodef-tour-title">
Sydney Opera </h4>
<span class="qodef-tours-price-holder">
<span class="qodef-tours-item-price ">$550</span>
</span>
</div>
</div>
</div>
</div>
<a class="qodef-tours-masonry-item-link" href="../tour-item/sydney-opera/index.html"></a>
</div>
</div> <div class="qodef-tours-masonry-item qodef-tours-row-item qodef-item-space qodef-tour-item-has-rating qodef-size-default post-3106 tour-item type-tour-item status-publish has-post-thumbnail hentry tour-category-popular tour-attribute-5-star-accommodation tour-attribute-airport-transfer-2 tour-attribute-breakfast tour-attribute-personal-guide">
<div class="qodef-tours-gim-holder-inner">
<div class="qodef-tours-gim-image">
<img width="650" height="650" src="/design/wp-content/uploads/2018/10/tour-featured-img-43-650x650.jpg" class="attachment-setsail_select_image_square size-setsail_select_image_square" alt="c" loading="lazy" srcset="https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-43-650x650.jpg 650w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-43-150x150.jpg 150w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-43-300x300.jpg 300w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-43-768x768.jpg 768w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-43-1024x1024.jpg 1024w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-43-600x600.jpg 600w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-43-100x100.jpg 100w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-43.jpg 1100w" sizes="(max-width: 650px) 100vw, 650px" /> </div>
<div class="qodef-tours-gim-content-holder">
<div class="qodef-tours-gim-content-outer">
<div class="qodef-tours-gim-content-inner">
<div class="qodef-gim-title-and-price-holder">
<h4 class="qodef-tour-title">
Kaohsiung </h4>
<span class="qodef-tours-price-holder">
<span class="qodef-tours-item-price ">$963</span>
</span>
</div>
</div>
</div>
</div>
<a class="qodef-tours-masonry-item-link" href="../tour-item/kaohsiung/index.html"></a>
</div>
</div> <div class="qodef-tours-masonry-item qodef-tours-row-item qodef-item-space qodef-tour-item-has-rating qodef-size-default post-3108 tour-item type-tour-item status-publish has-post-thumbnail hentry tour-category-popular tour-attribute-5-star-accommodation tour-attribute-airport-transfer-2 tour-attribute-breakfast tour-attribute-personal-guide">
<div class="qodef-tours-gim-holder-inner">
<div class="qodef-tours-gim-image">
<img width="650" height="650" src="/design/wp-content/uploads/2018/10/tour-featured-img-45-650x650.jpg" class="attachment-setsail_select_image_square size-setsail_select_image_square" alt="c" loading="lazy" srcset="https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-45-650x650.jpg 650w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-45-150x150.jpg 150w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-45-300x300.jpg 300w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-45-768x768.jpg 768w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-45-1024x1024.jpg 1024w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-45-600x600.jpg 600w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-45-100x100.jpg 100w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-45.jpg 1100w" sizes="(max-width: 650px) 100vw, 650px" /> </div>
<div class="qodef-tours-gim-content-holder">
<div class="qodef-tours-gim-content-outer">
<div class="qodef-tours-gim-content-inner">
<div class="qodef-gim-title-and-price-holder">
<h4 class="qodef-tour-title">
Tainan </h4>
<span class="qodef-tours-price-holder">
<span class="qodef-tours-item-price ">$999</span>
</span>
</div>
</div>
</div>
</div>
<a class="qodef-tours-masonry-item-link" href="../tour-item/tainan/index.html"></a>
</div>
</div> <div class="qodef-tours-masonry-item qodef-tours-row-item qodef-item-space qodef-tour-item-has-rating qodef-size-default post-3101 tour-item type-tour-item status-publish has-post-thumbnail hentry tour-category-popular tour-attribute-5-star-accommodation tour-attribute-airport-transfer-2 tour-attribute-breakfast tour-attribute-personal-guide">
<div class="qodef-tours-gim-holder-inner">
<div class="qodef-tours-gim-image">
<img width="650" height="650" src="/design/wp-content/uploads/2018/10/tour-featured-img-46-650x650.jpg" class="attachment-setsail_select_image_square size-setsail_select_image_square" alt="c" loading="lazy" srcset="https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-46-650x650.jpg 650w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-46-150x150.jpg 150w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-46-300x300.jpg 300w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-46-768x768.jpg 768w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-46-1024x1024.jpg 1024w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-46-600x600.jpg 600w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-46-100x100.jpg 100w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-46.jpg 1100w" sizes="(max-width: 650px) 100vw, 650px" /> </div>
<div class="qodef-tours-gim-content-holder">
<div class="qodef-tours-gim-content-outer">
<div class="qodef-tours-gim-content-inner">
<div class="qodef-gim-title-and-price-holder">
<h4 class="qodef-tour-title">
Ubud </h4>
<span class="qodef-tours-price-holder">
<span class="qodef-tours-item-price ">$888</span>
</span>
</div>
</div>
</div>
</div>
<a class="qodef-tours-masonry-item-link" href="../tour-item/ubud/index.html"></a>
</div>
</div> <div class="qodef-tours-masonry-item qodef-tours-row-item qodef-item-space qodef-tour-item-has-rating qodef-size-default post-3103 tour-item type-tour-item status-publish has-post-thumbnail hentry tour-category-popular tour-attribute-5-star-accommodation tour-attribute-airport-transfer-2 tour-attribute-breakfast tour-attribute-personal-guide">
<div class="qodef-tours-gim-holder-inner">
<div class="qodef-tours-gim-image">
<img width="650" height="650" src="/design/wp-content/uploads/2018/10/tour-featured-img-47-650x650.jpg" class="attachment-setsail_select_image_square size-setsail_select_image_square" alt="c" loading="lazy" srcset="https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-47-650x650.jpg 650w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-47-150x150.jpg 150w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-47-300x300.jpg 300w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-47-768x768.jpg 768w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-47-1024x1024.jpg 1024w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-47-600x600.jpg 600w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-47-100x100.jpg 100w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-47.jpg 1100w" sizes="(max-width: 650px) 100vw, 650px" /> </div>
<div class="qodef-tours-gim-content-holder">
<div class="qodef-tours-gim-content-outer">
<div class="qodef-tours-gim-content-inner">
<div class="qodef-gim-title-and-price-holder">
<h4 class="qodef-tour-title">
Seminyak </h4>
<span class="qodef-tours-price-holder">
<span class="qodef-tours-item-price ">$966</span>
</span>
</div>
</div>
</div>
</div>
<a class="qodef-tours-masonry-item-link" href="../tour-item/seminyak/index.html"></a>
</div>
</div> <div class="qodef-tours-masonry-item qodef-tours-row-item qodef-item-space qodef-tour-item-has-rating qodef-size-default post-3540 tour-item type-tour-item status-publish has-post-thumbnail hentry tour-category-popular tour-attribute-5-star-accommodation tour-attribute-airport-transfer-2 tour-attribute-breakfast tour-attribute-personal-guide">
<div class="qodef-tours-gim-holder-inner">
<div class="qodef-tours-gim-image">
<img width="650" height="650" src="/design/wp-content/uploads/2018/10/tour-featured-img-50-650x650.jpg" class="attachment-setsail_select_image_square size-setsail_select_image_square" alt="s" loading="lazy" srcset="https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-50-650x650.jpg 650w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-50-150x150.jpg 150w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-50-300x300.jpg 300w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-50-768x768.jpg 768w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-50-1024x1024.jpg 1024w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-50-600x600.jpg 600w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-50-100x100.jpg 100w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-50.jpg 1100w" sizes="(max-width: 650px) 100vw, 650px" /> </div>
<div class="qodef-tours-gim-content-holder">
<div class="qodef-tours-gim-content-outer">
<div class="qodef-tours-gim-content-inner">
<div class="qodef-gim-title-and-price-holder">
<h4 class="qodef-tour-title">
Caving </h4>
<span class="qodef-tours-price-holder">
<span class="qodef-tours-item-price ">$1550</span>
</span>
</div>
</div>
</div>
</div>
<a class="qodef-tours-masonry-item-link" href="../tour-item/caving/index.html"></a>
</div>
</div> <div class="qodef-tours-masonry-item qodef-tours-row-item qodef-item-space qodef-tour-item-has-rating qodef-size-default post-3549 tour-item type-tour-item status-publish has-post-thumbnail hentry tour-category-popular tour-attribute-5-star-accommodation tour-attribute-airport-transfer-2 tour-attribute-breakfast tour-attribute-personal-guide">
<div class="qodef-tours-gim-holder-inner">
<div class="qodef-tours-gim-image">
<img width="650" height="650" src="/design/wp-content/uploads/2018/10/tour-featured-img-51-650x650.jpg" class="attachment-setsail_select_image_square size-setsail_select_image_square" alt="s" loading="lazy" srcset="https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-51-650x650.jpg 650w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-51-150x150.jpg 150w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-51-300x300.jpg 300w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-51-768x768.jpg 768w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-51-1024x1024.jpg 1024w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-51-600x600.jpg 600w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-51-100x100.jpg 100w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-51.jpg 1100w" sizes="(max-width: 650px) 100vw, 650px" /> </div>
<div class="qodef-tours-gim-content-holder">
<div class="qodef-tours-gim-content-outer">
<div class="qodef-tours-gim-content-inner">
<div class="qodef-gim-title-and-price-holder">
<h4 class="qodef-tour-title">
Beautiful Holland </h4>
<span class="qodef-tours-price-holder qodef-tours-price-with-discount">
<span class="qodef-tours-item-price qodef-tours-price-old">$1550</span>
<span class="qodef-tours-item-discount-price qodef-tours-item-price">
$1330 </span>
</span>
</div>
</div>
</div>
</div>
<a class="qodef-tours-masonry-item-link" href="../tour-item/beautiful-holland/index.html"></a>
</div>
</div> <div class="qodef-tours-masonry-item qodef-tours-row-item qodef-item-space qodef-tour-item-has-rating qodef-size-default post-3570 tour-item type-tour-item status-publish has-post-thumbnail hentry tour-category-popular tour-attribute-5-star-accommodation tour-attribute-airport-transfer-2 tour-attribute-breakfast tour-attribute-personal-guide">
<div class="qodef-tours-gim-holder-inner">
<div class="qodef-tours-gim-image">
<img width="650" height="650" src="/design/wp-content/uploads/2018/10/tour-featured-img-52-650x650.jpg" class="attachment-setsail_select_image_square size-setsail_select_image_square" alt="d" loading="lazy" srcset="https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-52-650x650.jpg 650w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-52-150x150.jpg 150w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-52-300x300.jpg 300w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-52-768x768.jpg 768w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-52-1024x1024.jpg 1024w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-52-600x600.jpg 600w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-52-100x100.jpg 100w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/10/tour-featured-img-52.jpg 1100w" sizes="(max-width: 650px) 100vw, 650px" /> </div>
<div class="qodef-tours-gim-content-holder">
<div class="qodef-tours-gim-content-outer">
<div class="qodef-tours-gim-content-inner">
<div class="qodef-gim-title-and-price-holder">
<h4 class="qodef-tour-title">
 Temple Tour </h4>
<span class="qodef-tours-price-holder">
<span class="qodef-tours-item-price ">$1550</span>
</span>
</div>
</div>
</div>
</div>
<a class="qodef-tours-masonry-item-link" href="../tour-item/temple-tour/index.html"></a>
</div>
</div> </div>
</div></div></div></div></div><div class="qodef-row-grid-section-wrapper "><div class="qodef-row-grid-section"><div class="vc_row wpb_row vc_row-fluid vc_custom_1539172735011"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="qodef-testimonials-holder clearfix ">
<div class="qodef-testimonials qodef-owl-slider" data-number-of-items="1" data-enable-loop="yes" data-enable-autoplay="yes" data-slider-speed="5000" data-slider-speed-animation="600" data-enable-navigation="yes" data-enable-pagination="no">
<div class="qodef-testimonial-content">
<div class="qodef-testimonial-image">
<img width="143" height="144" src="/design/wp-content/uploads/2018/09/h1-testimonials-2.png" class="attachment-144x144 size-144x144 wp-post-image" alt="a" loading="lazy" srcset="https://setsail.qodeinteractive.com/wp-content/uploads/2018/09/h1-testimonials-2.png 143w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/09/h1-testimonials-2-100x100.png 100w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/09/h1-testimonials-2-74x75.png 74w" sizes="(max-width: 143px) 100vw, 143px" /> </div>
<span class="qodef-testimonial-text">&quot;Dolor ipsum dolor sit amet, consectetuer adipiscing elit. Lorem commodo ligula eg dolor. Lorem Aenean msa. Cum sociis natoque&quot;</span>
<span class="qodef-testimonial-author">John Rios</span>
</div>
<div class="qodef-testimonial-content">
<div class="qodef-testimonial-image">
<img width="143" height="144" src="/design/wp-content/uploads/2018/09/h1-testimonial-1.png" class="attachment-144x144 size-144x144 wp-post-image" alt="a" loading="lazy" srcset="https://setsail.qodeinteractive.com/wp-content/uploads/2018/09/h1-testimonial-1.png 143w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/09/h1-testimonial-1-100x100.png 100w, https://setsail.qodeinteractive.com/wp-content/uploads/2018/09/h1-testimonial-1-74x75.png 74w" sizes="(max-width: 143px) 100vw, 143px" /> </div>
<span class="qodef-testimonial-text">&quot;Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis&quot; </span>
<span class="qodef-testimonial-author">Marianna Loreto</span>
</div>
</div>
</div></div></div></div></div></div></div><div class="vc_row wpb_row vc_row-fluid vc_custom_1536678050107" style="background-color:#3fd0d4"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="qodef-call-to-action-holder  qodef-normal-layout qodef-content-in-grid qodef-three-quarters-columns">
<div class="qodef-cta-inner qodef-grid">
<div class="qodef-cta-text-holder">
<div class="qodef-cta-text">
<h4 style="color: #fff;">Subscribe Now and Quench Your Wanderlust!</h4>
</div>
</div>
<div class="qodef-cta-button-holder">
<div class="qodef-cta-button"><a itemprop="url" href="../my-account/index.html" target="_self" style="color: #222222;background-color: #ffffff" class="qodef-btn qodef-btn-large qodef-btn-solid qodef-btn-custom-hover-bg qodef-btn-custom-hover-color" data-hover-color="#ffffff" data-hover-bg-color="#23a9af"> <span class="qodef-btn-text">Join Now</span> </a></div>
</div>
</div>
</div></div></div></div></div>
</div>
</div>
</div>
</div>
</div> 
</div> 
<footer class="qodef-page-footer ">
<div class="qodef-footer-top-holder">
<div class="qodef-footer-top-inner qodef-full-width">
<div class="qodef-grid-row qodef-footer-top-alignment-left">
<div class="qodef-column-content qodef-grid-col-3">
<div id="media_image-2" class="widget qodef-footer-column-1 widget_media_image"><a href="../index.html"><img width="263" height="84" src="/design/wp-content/uploads/2018/09/logo-footer.png" class="image wp-image-4716  attachment-full size-full" alt="d" loading="lazy" style="max-width: 100%; height: auto;" /></a></div><div class="widget qodef-custom-font-widget"><p class="qodef-custom-font-holder  qodef-cf-6165  " style="font-family: Poppins;font-size: 17px;line-height: 1.64em;font-weight: 400;color: #a9a9a9;margin: 0 0 17px 0" data-item-class="qodef-cf-6165">
Lorem ipsum dolor sit ametco nsec te tuer adipiscing elitae</p></div>
<a class="qodef-icon-widget-holder" href="../cdn-cgi/l/email-protection.html#fc8f99888f9d9590bc8d939899d29f9391" target="_self" style="margin: 0 0 4px 0">
<span class="qodef-icon-element icon_mail_alt" style="font-size: 14px"></span> <span class="qodef-icon-text "><span class="__cf_email__" data-cfemail="7c0f19080f1d15103c0d131819521f1311">[email&#160;protected]</span></span> </a>
<a class="qodef-icon-widget-holder" href="tel:1%20562%20867%205309" target="_self" style="margin: 0 0 4px 0">
<span class="qodef-icon-element icon_phone" style="font-size: 14px"></span> <span class="qodef-icon-text ">1 562 867 5309</span> </a>
<a class="qodef-icon-widget-holder" href="https://www.google.rs/maps/place/Charging+Bull/@40.7055242,-74.0133806,20z/data=!4m5!3m4!1s0x0:0xc7db393ae1eff521!8m2!3d40.7055537!4d-74.0134436" target="_blank">
<span class="qodef-icon-element icon_pin_alt" style="font-size: 14px"></span> <span class="qodef-icon-text ">Broadway &amp; Morris St, New York</span> </a>
</div>
<div class="qodef-column-content qodef-grid-col-3">
<div class="widget qodef-blog-list-widget"><div class="qodef-widget-title-holder"><h5 class="qodef-widget-title" style="margin-bottom: 26px">Our Recent Posts</h5></div><div class="qodef-blog-list-holder qodef-grid-list qodef-disable-bottom-space qodef-bl-minimal qodef-one-columns qodef-normal-space qodef-bl-pag-no-pagination" data-type=minimal data-number-of-posts=3 data-number-of-columns=one data-space-between-items=normal data-orderby=date data-order=ASC data-image-size=thumbnail data-title-tag=h6 data-excerpt-length=40 data-post-info-image=yes data-pagination-type=no-pagination data-widget-simple=no data-max-num-pages=9 data-next-page=2>
<div class="qodef-bl-wrapper qodef-outer-space">
<ul class="qodef-blog-list">
<li class="qodef-bl-item qodef-item-space clearfix">
<div class="qodef-bli-inner">
<div class="qodef-bli-content">
<h6 itemprop="name" class="entry-title qodef-post-title">
<a itemprop="url" href="../visit-thailand-bali-and-china/index.html" title="Visit Thailand, Bali And China">
Visit Thailand, Bali And China </a>
</h6> <div itemprop="dateCreated" class="qodef-post-info-date entry-date published updated">
<a itemprop="url" href="../2016/09/index.html">
September 7, 2016 </a>
<meta itemprop="interactionCount" content="UserComments: 0" />
</div> </div>
</div>
</li><li class="qodef-bl-item qodef-item-space clearfix">
<div class="qodef-bli-inner">
<div class="qodef-bli-content">
<h6 itemprop="name" class="entry-title qodef-post-title">
<a itemprop="url" href="../the-sound-of-our-jungle/index.html" title="The Sound Of Our Jungle">
The Sound Of Our Jungle </a>
</h6> <div itemprop="dateCreated" class="qodef-post-info-date entry-date published updated">
<a itemprop="url" href="../2016/09/index.html">
September 7, 2016 </a>
<meta itemprop="interactionCount" content="UserComments: 0" />
</div> </div>
</div>
</li><li class="qodef-bl-item qodef-item-space clearfix">
<div class="qodef-bli-inner">
<div class="qodef-bli-content">
<h6 itemprop="name" class="entry-title qodef-post-title">
<a itemprop="url" href="../new-year-new-resolutions/index.html" title="New Year, New Resolutions!">
New Year, New Resolutions! </a>
</h6> <div itemprop="dateCreated" class="qodef-post-info-date entry-date published updated">
<a itemprop="url" href="../2016/09/index.html">
September 7, 2016 </a>
<meta itemprop="interactionCount" content="UserComments: 0" />
</div> </div>
</div>
</li> </ul>
</div>
</div></div> </div>
<div class="qodef-column-content qodef-grid-col-3">
<div id="text-3" class="widget qodef-footer-column-3 widget_text"><div class="qodef-widget-title-holder"><h5 class="qodef-widget-title">Subscribe to our Newsletter</h5></div> <div class="textwidget"><p><span style="color: #a9a9a9;">Etiam rhoncus. Maecenas temp us, tellus eget condimentum rho</span></p>
</div>
</div> <div class="widget qodef-contact-form-7-widget ">
<div role="form" class="wpcf7" id="wpcf7-f800-o1" lang="en-US" dir="ltr">
<div class="screen-reader-response"><p role="status" aria-live="polite" aria-atomic="true"></p> <ul></ul></div>
<form action="https://setsail.qodeinteractive.com/about-us/#wpcf7-f800-o1" method="post" class="wpcf7-form init cf7_custom_style_3" novalidate="novalidate" data-status="init">
<div style="display: none;">
<input type="hidden" name="_wpcf7" value="800" />
<input type="hidden" name="_wpcf7_version" value="5.4" />
<input type="hidden" name="_wpcf7_locale" value="en_US" />
<input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f800-o1" />
<input type="hidden" name="_wpcf7_container_post" value="0" />
<input type="hidden" name="_wpcf7_posted_data_hash" value="" />
</div>
<div class="qodef-custom-nlf-footer">
<div class="qodef-grid-row qodef-grid-normal-gutter">
<div><span class="qodef-newsletter-icon qodef-newsletter-name-icon icon_profile"></span><span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Name" /></span></div>
<div><span class="qodef-newsletter-icon qodef-newsletter-email-icon icon_mail_alt"></span><span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="Email" /></span></div></div><input type="submit" value="Subscribe" class="wpcf7-form-control wpcf7-submit" /></div><div class="wpcf7-response-output" aria-hidden="true"></div></form></div> </div>
</div>
<div class="qodef-column-content qodef-grid-col-3">
<div id="text-4" class="widget qodef-footer-column-4 widget_text"><div class="qodef-widget-title-holder"><h5 class="qodef-widget-title">Our Instagram</h5></div> <div class="textwidget"><p><span style="color: #a9a9a9;">Aliquam lorem ante, dapibus inviver raqui feugiat a, tellus. Phasellus null</span></p>
</div>
</div><div id="qodef_instagram_widget-2" class="widget qodef-footer-column-4 widget_qodef_instagram_widget"> <ul class="qodef-instagram-feed clearfix qodef-col-5 qodef-instagram-gallery qodef-tiny-space">
<li>
<a href="https://www.instagram.com/p/BnYrW9ogfx3/" target="_blank">
<img src="../../scontent-den4-1.cdninstagram.com/v/t51.2885-15/40550729_1902988519791897_8155378118322146980_n5231.jpg?_nc_cat=105&amp;ccb=1-5&amp;_nc_sid=8ae9d6&amp;_nc_ohc=gpKY1rV5Xq4AX9TcyvP&amp;_nc_ht=scontent-den4-1.cdninstagram.com&amp;edm=ANo9K5cEAAAA&amp;oh=6218c65b00d7daa4f53839a08c4e2803&amp;oe=61447D92" alt="" /> </a>
</li>
<li>
<a href="https://www.instagram.com/p/BnYrVdKAsv7/" target="_blank">
<img src="../../scontent-den4-1.cdninstagram.com/v/t51.2885-15/40481446_312794325966573_7238021377612713413_ncc6c.jpg?_nc_cat=102&amp;ccb=1-5&amp;_nc_sid=8ae9d6&amp;_nc_ohc=cJfp0S8CyJgAX9XdxrV&amp;_nc_ht=scontent-den4-1.cdninstagram.com&amp;edm=ANo9K5cEAAAA&amp;oh=fd315e9dec4c35265f54ad5b76e55a1b&amp;oe=614458BA" alt="" /> </a>
</li>
<li>
<a href="https://www.instagram.com/p/BnYrT24Ab1d/" target="_blank">
<img src="../../scontent-den4-1.cdninstagram.com/v/t51.2885-15/41087687_720569758279116_5219986637256948209_na912.jpg?_nc_cat=111&amp;ccb=1-5&amp;_nc_sid=8ae9d6&amp;_nc_ohc=sPBU8AE-FDIAX8AOQ5y&amp;_nc_ht=scontent-den4-1.cdninstagram.com&amp;edm=ANo9K5cEAAAA&amp;oh=db848fbb92afc4d6632d3b280a5b59e1&amp;oe=614417DF" alt="" /> </a>
</li>
<li>
<a href="https://www.instagram.com/p/BnYrSSEAvck/" target="_blank">
<img src="../../scontent-den4-1.cdninstagram.com/v/t51.2885-15/39948730_433290073863227_8438102480037573677_n8231.jpg?_nc_cat=100&amp;ccb=1-5&amp;_nc_sid=8ae9d6&amp;_nc_ohc=PfRB2vXDUzUAX8Uaw6I&amp;_nc_ht=scontent-den4-1.cdninstagram.com&amp;edm=ANo9K5cEAAAA&amp;oh=c617b77c4bc3ca733e4f18504f18460b&amp;oe=614458FB" alt="" /> </a>
</li>
<li>
<a href="https://www.instagram.com/p/BnYrQuag-mT/" target="_blank">
<img src="../../scontent-den4-1.cdninstagram.com/v/t51.2885-15/41074418_340793066682119_1987037198157530486_n7c12.jpg?_nc_cat=102&amp;ccb=1-5&amp;_nc_sid=8ae9d6&amp;_nc_ohc=IhtnQsSHyEEAX_tOZ_x&amp;_nc_ht=scontent-den4-1.cdninstagram.com&amp;oh=ec7cc0f4d9d9e91a47ca383249da7d2e&amp;oe=6144AD04" alt="" /> </a>
</li>
<li>
<a href="https://www.instagram.com/p/BnYrPRBAVOf/" target="_blank">
<img src="../../scontent-den4-1.cdninstagram.com/v/t51.2885-15/40419870_296084594511455_8682518320629895026_nf650.jpg?_nc_cat=106&amp;ccb=1-5&amp;_nc_sid=8ae9d6&amp;_nc_ohc=nVlQq1kZL6YAX-pLdwU&amp;_nc_ht=scontent-den4-1.cdninstagram.com&amp;oh=0cc94917f1043f4ac15e7e8145e99104&amp;oe=6143F91E" alt="" /> </a>
</li>
<li>
<a href="https://www.instagram.com/p/BnYrMy9A7s-/" target="_blank">
<img src="../../scontent-den4-1.cdninstagram.com/v/t51.2885-15/39933078_1778861865537301_9178762990586169390_n7328.jpg?_nc_cat=108&amp;ccb=1-5&amp;_nc_sid=8ae9d6&amp;_nc_ohc=gx8lao1jsqEAX_A0fQf&amp;_nc_ht=scontent-den4-1.cdninstagram.com&amp;edm=ANo9K5cEAAAA&amp;oh=5f7d9c13aca838b228fe40b131b19afb&amp;oe=614536ED" alt="" /> </a>
</li>
<li>
<a href="https://www.instagram.com/p/BnYq-HWgNuO/" target="_blank">
<img src="../../scontent-den4-1.cdninstagram.com/v/t51.2885-15/40434429_708536679498397_8633299629858294087_n800b.jpg?_nc_cat=109&amp;ccb=1-5&amp;_nc_sid=8ae9d6&amp;_nc_ohc=eCJohqTXfQUAX_KCmUK&amp;_nc_ht=scontent-den4-1.cdninstagram.com&amp;edm=ANo9K5cEAAAA&amp;oh=d26f2c4abbbcf42723ebd1d9a0c40191&amp;oe=614501C4" alt="" /> </a>
</li>
<li>
<a href="https://www.instagram.com/p/BnYq8cbgSIN/" target="_blank">
<img src="../../scontent-den4-1.cdninstagram.com/v/t51.2885-15/40808933_1806822246105865_2770821415596652047_n69cd.jpg?_nc_cat=109&amp;ccb=1-5&amp;_nc_sid=8ae9d6&amp;_nc_ohc=h5MqF6lsAmQAX9R4lZf&amp;_nc_ht=scontent-den4-1.cdninstagram.com&amp;edm=ANo9K5cEAAAA&amp;oh=ad95e2eebc8d557903c06fbd4f757b95&amp;oe=6144B9AA" alt="" /> </a>
</li>
<li>
<a href="https://www.instagram.com/p/BnYq6sFAvI7/" target="_blank">
<img src="../../scontent-den4-1.cdninstagram.com/v/t51.2885-15/40431710_258408881476133_5549904701930696493_ndd3b.jpg?_nc_cat=102&amp;ccb=1-5&amp;_nc_sid=8ae9d6&amp;_nc_ohc=n2pBffcyrRwAX9qm4M6&amp;_nc_ht=scontent-den4-1.cdninstagram.com&amp;oh=405fc7e7a2528f07546e36b2e7fa2b87&amp;oe=6143E97F" alt="" /> </a>
</li>
</ul>
</div> </div>
</div>
</div>
</div><div class="qodef-footer-bottom-holder">
<div class="qodef-footer-bottom-inner qodef-full-width">
<div class="qodef-grid-row ">
<div class="qodef-grid-col-4">
</div>
<div class="qodef-grid-col-4">
<div id="text-7" class="widget qodef-footer-bottom-column-2 widget_text"> <div class="textwidget"><p style="font-size: 13px; text-align: center; color: #a9a9a9;">Powered by @ <a href="https://qodeinteractive.com/" target="_blank" rel="nofollow noopener">Qode Interactive 2018</a></p>
</div>
</div> </div>
<div class="qodef-grid-col-4">
</div>
</div>
</div>
</div> </footer>
</div> 
</div> 
<div class="rbt-toolbar" data-theme="SetSail" data-featured="" data-button-position="27%" data-button-horizontal="right" data-button-alt="no"></div><div class="qodef-login-register-holder">
<div class="qodef-login-register-content">
<ul>
<li><a href="#qodef-login-content">Login</a></li>
<li><a href="#qodef-register-content">Register</a></li>
</ul>
<div class="qodef-login-content-inner" id="qodef-login-content">
<div class="qodef-wp-login-holder"><div class="qodef-social-login-holder">
<div class="qodef-social-login-holder-inner">
<form method="post" class="qodef-login-form">
<h4 class="qodef-login-title">Sign In Here!</h4>
<p class="qodef-login-description">Log into your account in just a few simple steps.</p>
<fieldset>
<div>
<span class="qodef-login-icon icon_profile"></span>
<input type="text" name="user_login_name" id="user_login_name" placeholder="User Name" value="" required pattern=".{3,}" title="Three or more characters" />
</div>
<div>
<span class="qodef-login-icon icon_lock_alt"></span>
<input type="password" name="user_login_password" id="user_login_password" placeholder="Password" value="" required />
</div>
<div class="qodef-lost-pass-remember-holder clearfix">
<span class="qodef-login-remember">
<input name="rememberme" value="forever" id="rememberme" type="checkbox" />
<label for="rememberme" class="qodef-checbox-label">Remember me</label>
</span>
</div>
<input type="hidden" name="redirect" id="redirect" value="">
<div class="qodef-login-button-holder">
<a href="../my-account/lost-password/index.html" class="qodef-login-action-btn" data-el="#qodef-reset-pass-content" data-title="Lost Password?">Lost Your password?</a>
<button type="submit" class="qodef-btn qodef-btn-medium qodef-btn-solid"> <span class="qodef-btn-text">Sign in</span> </button> <input type="hidden" id="qodef-login-security" name="qodef-login-security" value="e6304c4a3b" /><input type="hidden" name="_wp_http_referer" value="/about-us/" /> </div>
</fieldset>
</form>
</div>
<div class="qodef-login-form-social-login">
 <div class="qodef-login-social-title">
Sign in with Facebook or Google+ </div>
</div>
<div class="qodef-login-social-networks">
<form class="qodef-facebook-login-holder"><input type="hidden" id="qodef_nonce_facebook_login_1204203942" name="qodef_nonce_facebook_login_1204203942" value="0d08b37674" /><input type="hidden" name="_wp_http_referer" value="/about-us/" /><button type="submit" style="background-color: #3b5998;border-color: #3b5998" class="qodef-btn qodef-btn-small qodef-btn-solid qodef-btn-custom-hover-bg qodef-btn-custom-border-hover qodef-facebook-login" data-hover-bg-color="#4363A5" data-hover-border-color="#4363A5"> <span class="qodef-btn-text">FACEBOOK</span> </button></form><form class="qodef-google-login-holder"><input type="hidden" id="qodef_nonce_google_login_1455861295" name="qodef_nonce_google_login_1455861295" value="1d23eecf35" /><input type="hidden" name="_wp_http_referer" value="/about-us/" /><button type="submit" style="background-color: #dd4b39;border-color: #dd4b39" class="qodef-btn qodef-btn-small qodef-btn-solid qodef-btn-custom-hover-bg qodef-btn-custom-border-hover qodef-google-login" data-hover-bg-color="#dd5543" data-hover-border-color="#dd5543"> <span class="qodef-btn-text">GOOGLE+</span> </button></form> </div>
<div class="qodef-membership-response-holder clearfix"></div><script data-cfasync="false" src="../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script type="text/template" class="qodef-membership-response-template">
					<div class="qodef-membership-response">
						<div class="qodef-membership-response-message">

						</div>
					</div>
				</script></div></div>
</div>
<div class="qodef-register-content-inner" id="qodef-register-content">
<div class="qodef-wp-register-holder"><div class="qodef-social-register-holder">
<h4 class="qodef-register-title">Register Now!</h4>
<p class="qodef-register-description">Join the SetSail community today &amp; set up a free account.</p>
<form method="post" class="qodef-register-form">
<fieldset>
<div>
<span class="qodef-register-icon icon_profile"></span>
<input type="text" name="user_register_name" id="user_register_name" placeholder="User Name" value="" required pattern=".{3,}" title="Three or more characters" />
</div>
<div>
<span class="qodef-register-icon icon_mail_alt"></span>
<input type="email" name="user_register_email" id="user_register_email" placeholder="Email" value="" required />
</div>
<div>
<span class="qodef-register-icon icon_lock_alt"></span>
<input type="password" name="user_register_password" id="user_register_password" placeholder="Password" value="" required />
</div>
<div>
<span class="qodef-register-icon icon_lock_alt"></span>
<input type="password" name="user_register_confirm_password" id="user_register_confirm_password" placeholder="Repeat Password" value="" required />
</div>
<div class="qodef-register-button-holder">
<button type="submit" class="qodef-btn qodef-btn-medium qodef-btn-solid"> <span class="qodef-btn-text">Register</span> </button><input type="hidden" id="qodef-register-security" name="qodef-register-security" value="b740810a38" /><input type="hidden" name="_wp_http_referer" value="/about-us/" /> </div>
</fieldset>
</form>
<div class="qodef-membership-response-holder clearfix"></div><script type="text/template" class="qodef-membership-response-template">
					<div class="qodef-membership-response ">
						<div class="qodef-membership-response-message">
							<p></p>
						</div>
					</div>
				</script></div></div>
</div>
</div>
</div>

<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M4XZBMN"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script type="text/html" id="wpb-modifications"></script> <script type="text/javascript">
		(function () {
			var c = document.body.className;
			c = c.replace(/woocommerce-no-js/, 'woocommerce-js');
			document.body.className = c;
		})();
	</script>
<script type='text/javascript' src='../wp-includes/js/dist/vendor/wp-polyfill.min.js' id='wp-polyfill-js'></script>
<script type='text/javascript' id='wp-polyfill-js-after'>
( 'fetch' in window ) || document.write( '<script src="../wp-includes/js/dist/vendor/wp-polyfill-fetch.min.js"></scr' + 'ipt>' );( document.contains ) || document.write( '<script src="../wp-includes/js/dist/vendor/wp-polyfill-node-contains.min.js"></scr' + 'ipt>' );( window.DOMRect ) || document.write( '<script src="../wp-includes/js/dist/vendor/wp-polyfill-dom-rect.min.js"></scr' + 'ipt>' );( window.URL && window.URL.prototype && window.URLSearchParams ) || document.write( '<script src="../wp-includes/js/dist/vendor/wp-polyfill-url.min.js"></scr' + 'ipt>' );( window.FormData && window.FormData.prototype.keys ) || document.write( '<script src="../wp-includes/js/dist/vendor/wp-polyfill-formdata.min.js"></scr' + 'ipt>' );( Element.prototype.matches && Element.prototype.closest ) || document.write( '<script src="../wp-includes/js/dist/vendor/wp-polyfill-element-closest.min.js"></scr' + 'ipt>' );( 'objectFit' in document.documentElement.style ) || document.write( '<script src="../wp-includes/js/dist/vendor/wp-polyfill-object-fit.min.js"></scr' + 'ipt>' );
</script>
<script type='text/javascript' src='../wp-includes/js/dist/hooks.min.js' id='wp-hooks-js'></script>
<script type='text/javascript' src='../wp-includes/js/dist/i18n.min.js' id='wp-i18n-js'></script>
<script type='text/javascript' id='wp-i18n-js-after'>
wp.i18n.setLocaleData( { 'text direction\u0004ltr': [ 'ltr' ] } );
</script>
<script type='text/javascript' src='../wp-includes/js/dist/vendor/lodash.min.js' id='lodash-js'></script>
<script type='text/javascript' id='lodash-js-after'>
window.lodash = _.noConflict();
</script>
<script type='text/javascript' src='../wp-includes/js/dist/url.min.js' id='wp-url-js'></script>
<script type='text/javascript' id='wp-api-fetch-js-translations'>
( function( domain, translations ) {
	var localeData = translations.locale_data[ domain ] || translations.locale_data.messages;
	localeData[""].domain = domain;
	wp.i18n.setLocaleData( localeData, domain );
} )( "default", { "locale_data": { "messages": { "": {} } } } );
</script>
<script type='text/javascript' src='../wp-includes/js/dist/api-fetch.min.js' id='wp-api-fetch-js'></script>
<script type='text/javascript' id='wp-api-fetch-js-after'>
wp.apiFetch.use( wp.apiFetch.createRootURLMiddleware( "../wp-json/index.html" ) );
wp.apiFetch.nonceMiddleware = wp.apiFetch.createNonceMiddleware( "9577805596" );
wp.apiFetch.use( wp.apiFetch.nonceMiddleware );
wp.apiFetch.use( wp.apiFetch.mediaUploadMiddleware );
wp.apiFetch.nonceEndpoint = "../wp-admin/admin-ajaxf809.html?action=rest-nonce";
</script>
<script type='text/javascript' id='contact-form-7-js-extra'>
/* <![CDATA[ */
var wpcf7 = {"cached":"1"};
/* ]]> */
</script>
<script type='text/javascript' src='/design/wp-content/plugins/contact-form-7/includes/js/index.js' id='contact-form-7-js'></script>
<script type='text/javascript' src='../../export.qodethemes.com/_toolbar/assets/js/rbt-modulese23c.js?ver=5.7' id='rabbit_js-js'></script>
<script type='text/javascript' src='../wp-includes/js/underscore.min.js' id='underscore-js'></script>
<script type='text/javascript' src='../wp-includes/js/jquery/ui/core.min.js' id='jquery-ui-core-js'></script>
<script type='text/javascript' src='../wp-includes/js/jquery/ui/tabs.min.js' id='jquery-ui-tabs-js'></script>
<script type='text/javascript' id='setsail-select-modules-js-extra'>
/* <![CDATA[ */
var qodefGlobalVars = {"vars":{"qodefAddForAdminBar":0,"qodefElementAppearAmount":-100,"qodefAjaxUrl":"https:\/\/setsail.qodeinteractive.com\/wp-admin\/admin-ajax.php","sliderNavPrevArrow":"icon-arrows-left","sliderNavNextArrow":"icon-arrows-right","ppExpand":"Expand the image","ppNext":"Next","ppPrev":"Previous","ppClose":"Close","qodefStickyHeaderHeight":0,"qodefStickyHeaderTransparencyHeight":70,"qodefTopBarHeight":46,"qodefLogoAreaHeight":0,"qodefMenuAreaHeight":126,"qodefMobileHeaderHeight":70}};
var qodefPerPageVars = {"vars":{"qodefMobileHeaderHeight":70,"qodefStickyScrollAmount":900,"qodefHeaderTransparencyHeight":0,"qodefHeaderVerticalWidth":0}};
/* ]]> */
</script>
<script type='text/javascript' src='/design/wp-content/themes/setsail/assets/js/modules.min.js' id='setsail-select-modules-js'></script>
<script type='text/javascript' id='setsail-membership-script-js-extra'>
/* <![CDATA[ */
var qodefSocialLoginVars = {"social":{"facebookAppId":"1897037670413390","googleClientId":""}};
/* ]]> */
</script>
<script type='text/javascript' src='/design/wp-content/plugins/setsail-membership/assets/js/membership.min.js' id='setsail-membership-script-js'></script>
<script type='text/javascript' src='/design/wp-content/plugins/setsail-tours/assets/js/modules/plugins/nouislider.min.js' id='nouislider-js'></script>
<script type='text/javascript' src='/design/wp-content/plugins/setsail-tours/assets/js/modules/plugins/typeahead.bundle.min.js' id='typeahead-js'></script>
<script type='text/javascript' src='/design/wp-content/plugins/setsail-tours/assets/js/modules/plugins/bloodhound.min.js' id='bloodhound-js'></script>
<script type='text/javascript' src='../wp-includes/js/jquery/ui/datepicker.min.js' id='jquery-ui-datepicker-js'></script>
<script type='text/javascript' id='jquery-ui-datepicker-js-after'>
jQuery(document).ready(function(jQuery){jQuery.datepicker.setDefaults({"closeText":"Close","currentText":"Today","monthNames":["January","February","March","April","May","June","July","August","September","October","November","December"],"monthNamesShort":["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"],"nextText":"Next","prevText":"Previous","dayNames":["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"],"dayNamesShort":["Sun","Mon","Tue","Wed","Thu","Fri","Sat"],"dayNamesMin":["S","M","T","W","T","F","S"],"dateFormat":"MM d, yy","firstDay":1,"isRTL":false});});
</script>
<script type='text/javascript' id='setsail-tours-script-js-extra'>
/* <![CDATA[ */
var qodefToursSearchData = {"tours":["Beautiful Holland","Temple Tour","Caving","Ubud","Tarragona","Seminyak","Madrid","Denpasar","Barcelona","Active Winter","Kids Ski School","Snow Surfing","Skiing In Alps","Magic Of  Italy","Winter Action","New Year In Toronto","New Year On The Lake","China Avio 17 Days","Best New Year Ever","Berlin Avio 7 Days","The Best New Year","Australia Avio 14 Days","London Avio 5 days","Italy Bus 8 Days","Krakow Bus 5 Days","Jungle Adventure","Island Paradise","Bali Lanterns","Local Wines","Villages","Champagne","Harvest","Camping","Wine Tasting","Wine Festival","Marbella","Toronto","Romantic Paris","Holland Canals","Monuments","Hudson Sailing","Shopping Tour","Summer Fun","Italy Tour","Varadero","Valencia","Seville","Milan","Rome","Vatican City","Corfu","Tainan","Taipei","Kaohsiung","Sydney Opera"],"destinations":["Hiking","Country Side","Wine Tour","Holiday","Far Places","Exotic Places","France","Switzerland","Slovenia","San Marino","China","Indonesia","India","Italy","Russia","Cuba","Egypt","New York","Japan","Bali","Australia","Spain","Netherlands","Greece","Taiwan"]};
/* ]]> */
</script>
<script type='text/javascript' src='/design/wp-content/plugins/setsail-tours/assets/js/tours.min.js' id='setsail-tours-script-js'></script>
<script type='text/javascript' src='/design/wp-content/plugins/woocommerce/assets/js/js-cookie/js.cookie.min.js' id='js-cookie-js'></script>
<script type='text/javascript' id='woocommerce-js-extra'>
/* <![CDATA[ */
var woocommerce_params = {"ajax_url":"\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/?wc-ajax=%%endpoint%%"};
/* ]]> */
</script>
<script type='text/javascript' src='/design/wp-content/plugins/woocommerce/assets/js/frontend/woocommerce.min.js' id='woocommerce-js'></script>
<script type='text/javascript' id='wc-cart-fragments-js-extra'>
/* <![CDATA[ */
var wc_cart_fragments_params = {"ajax_url":"\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/?wc-ajax=%%endpoint%%","cart_hash_key":"wc_cart_hash_3f86dcd62f9ffc319b72a234fcbc3060","fragment_name":"wc_fragments_3f86dcd62f9ffc319b72a234fcbc3060","request_timeout":"5000"};
/* ]]> */
</script>
<script type='text/javascript' src='/design/wp-content/plugins/woocommerce/assets/js/frontend/cart-fragments.min.js' id='wc-cart-fragments-js'></script>
<script type='text/javascript' id='qi-addons-for-elementor-script-js-extra'>
/* <![CDATA[ */
var qodefQiAddonsGlobal = {"vars":{"adminBarHeight":0,"iconArrowLeft":"<svg  xmlns=\"http:\/\/www.w3.org\/2000\/svg\" xmlns:xlink=\"http:\/\/www.w3.org\/1999\/xlink\" x=\"0px\" y=\"0px\" viewBox=\"0 0 34.2 32.3\" xml:space=\"preserve\" style=\"stroke-width: 2;\"><line x1=\"0.5\" y1=\"16\" x2=\"33.5\" y2=\"16\"\/><line x1=\"0.3\" y1=\"16.5\" x2=\"16.2\" y2=\"0.7\"\/><line x1=\"0\" y1=\"15.4\" x2=\"16.2\" y2=\"31.6\"\/><\/svg>","iconArrowRight":"<svg  xmlns=\"http:\/\/www.w3.org\/2000\/svg\" xmlns:xlink=\"http:\/\/www.w3.org\/1999\/xlink\" x=\"0px\" y=\"0px\" viewBox=\"0 0 34.2 32.3\" xml:space=\"preserve\" style=\"stroke-width: 2;\"><line x1=\"0\" y1=\"16\" x2=\"33\" y2=\"16\"\/><line x1=\"17.3\" y1=\"0.7\" x2=\"33.2\" y2=\"16.5\"\/><line x1=\"17.3\" y1=\"31.6\" x2=\"33.5\" y2=\"15.4\"\/><\/svg>","iconClose":"<svg  xmlns=\"http:\/\/www.w3.org\/2000\/svg\" xmlns:xlink=\"http:\/\/www.w3.org\/1999\/xlink\" x=\"0px\" y=\"0px\" viewBox=\"0 0 9.1 9.1\" xml:space=\"preserve\"><g><path d=\"M8.5,0L9,0.6L5.1,4.5L9,8.5L8.5,9L4.5,5.1L0.6,9L0,8.5L4,4.5L0,0.6L0.6,0L4.5,4L8.5,0z\"\/><\/g><\/svg>"}};
/* ]]> */
</script>
<script type='text/javascript' src='/design/wp-content/plugins/qi-addons-for-elementor/assets/js/main.min.js' id='qi-addons-for-elementor-script-js'></script>
<script type='text/javascript' src='../wp-includes/js/jquery/ui/accordion.min.js' id='jquery-ui-accordion-js'></script>
<script type='text/javascript' id='mediaelement-core-js-before'>
var mejsL10n = {"language":"en","strings":{"mejs.download-file":"Download File","mejs.install-flash":"You are using a browser that does not have Flash player enabled or installed. Please turn on your Flash player plugin or download the latest version from https:\/\/get.adobe.com\/flashplayer\/","mejs.fullscreen":"Fullscreen","mejs.play":"Play","mejs.pause":"Pause","mejs.time-slider":"Time Slider","mejs.time-help-text":"Use Left\/Right Arrow keys to advance one second, Up\/Down arrows to advance ten seconds.","mejs.live-broadcast":"Live Broadcast","mejs.volume-help-text":"Use Up\/Down Arrow keys to increase or decrease volume.","mejs.unmute":"Unmute","mejs.mute":"Mute","mejs.volume-slider":"Volume Slider","mejs.video-player":"Video Player","mejs.audio-player":"Audio Player","mejs.captions-subtitles":"Captions\/Subtitles","mejs.captions-chapters":"Chapters","mejs.none":"None","mejs.afrikaans":"Afrikaans","mejs.albanian":"Albanian","mejs.arabic":"Arabic","mejs.belarusian":"Belarusian","mejs.bulgarian":"Bulgarian","mejs.catalan":"Catalan","mejs.chinese":"Chinese","mejs.chinese-simplified":"Chinese (Simplified)","mejs.chinese-traditional":"Chinese (Traditional)","mejs.croatian":"Croatian","mejs.czech":"Czech","mejs.danish":"Danish","mejs.dutch":"Dutch","mejs.english":"English","mejs.estonian":"Estonian","mejs.filipino":"Filipino","mejs.finnish":"Finnish","mejs.french":"French","mejs.galician":"Galician","mejs.german":"German","mejs.greek":"Greek","mejs.haitian-creole":"Haitian Creole","mejs.hebrew":"Hebrew","mejs.hindi":"Hindi","mejs.hungarian":"Hungarian","mejs.icelandic":"Icelandic","mejs.indonesian":"Indonesian","mejs.irish":"Irish","mejs.italian":"Italian","mejs.japanese":"Japanese","mejs.korean":"Korean","mejs.latvian":"Latvian","mejs.lithuanian":"Lithuanian","mejs.macedonian":"Macedonian","mejs.malay":"Malay","mejs.maltese":"Maltese","mejs.norwegian":"Norwegian","mejs.persian":"Persian","mejs.polish":"Polish","mejs.portuguese":"Portuguese","mejs.romanian":"Romanian","mejs.russian":"Russian","mejs.serbian":"Serbian","mejs.slovak":"Slovak","mejs.slovenian":"Slovenian","mejs.spanish":"Spanish","mejs.swahili":"Swahili","mejs.swedish":"Swedish","mejs.tagalog":"Tagalog","mejs.thai":"Thai","mejs.turkish":"Turkish","mejs.ukrainian":"Ukrainian","mejs.vietnamese":"Vietnamese","mejs.welsh":"Welsh","mejs.yiddish":"Yiddish"}};
</script>
<script type='text/javascript' src='../wp-includes/js/mediaelement/mediaelement-and-player.min.js' id='mediaelement-core-js'></script>
<script type='text/javascript' src='../wp-includes/js/mediaelement/mediaelement-migrate.min.js' id='mediaelement-migrate-js'></script>
<script type='text/javascript' id='mediaelement-js-extra'>
/* <![CDATA[ */
var _wpmejsSettings = {"pluginPath":"\/wp-includes\/js\/mediaelement\/","classPrefix":"mejs-","stretching":"responsive"};
/* ]]> */
</script>
<script type='text/javascript' src='../wp-includes/js/mediaelement/wp-mediaelement.min.js' id='wp-mediaelement-js'></script>
<script type='text/javascript' src='/design/wp-content/themes/setsail/assets/js/modules/plugins/jquery.appear.js' id='appear-js'></script>
<script type='text/javascript' src='/design/wp-content/themes/setsail/assets/js/modules/plugins/modernizr.min.js' id='modernizr-js'></script>
<script type='text/javascript' src='../wp-includes/js/hoverIntent.min.js' id='hoverIntent-js'></script>
<script type='text/javascript' src='/design/wp-content/themes/setsail/assets/js/modules/plugins/jquery.plugin.js' id='jquery-plugin-js'></script>
<script type='text/javascript' src='/design/wp-content/themes/setsail/assets/js/modules/plugins/owl.carousel.min.js' id='owl-carousel-js'></script>
<script type='text/javascript' src='/design/wp-content/themes/setsail/assets/js/modules/plugins/jquery.waypoints.min.js' id='waypoints-js'></script>
<script type='text/javascript' src='/design/wp-content/themes/setsail/assets/js/modules/plugins/fluidvids.min.js' id='fluidvids-js'></script>
<script type='text/javascript' src='/design/wp-content/themes/setsail/assets/js/modules/plugins/perfect-scrollbar.jquery.min.js' id='perfect-scrollbar-js'></script>
<script type='text/javascript' src='/design/wp-content/themes/setsail/assets/js/modules/plugins/ScrollToPlugin.min.js' id='ScrollToPlugin-js'></script>
<script type='text/javascript' src='/design/wp-content/themes/setsail/assets/js/modules/plugins/parallax.min.js' id='parallax-js'></script>
<script type='text/javascript' src='/design/wp-content/themes/setsail/assets/js/modules/plugins/jquery.waitforimages.js' id='waitforimages-js'></script>
<script type='text/javascript' src='/design/wp-content/themes/setsail/assets/js/modules/plugins/jquery.prettyPhoto.js' id='prettyphoto-js'></script>
<script type='text/javascript' src='/design/wp-content/themes/setsail/assets/js/modules/plugins/jquery.easing.1.3.js' id='jquery-easing-1.3-js'></script>
<script type='text/javascript' src='/design/wp-content/plugins/js_composer/assets/lib/bower/isotope/dist/isotope.pkgd.min.js' id='isotope-js'></script>
<script type='text/javascript' src='/design/wp-content/plugins/qi-addons-for-elementor/inc/masonry/assets/js/plugins/packery-mode.pkgd.min.js' id='packery-js'></script>
<script type='text/javascript' src='/design/wp-content/themes/setsail/assets/js/modules/plugins/jquery.mousewheel.min.js' id='jquery-mousewheel-js'></script>
<script type='text/javascript' src='/design/wp-content/plugins/woocommerce/assets/js/select2/select2.full.min.js' id='select2-js'></script>
<script type='text/javascript' src='/design/wp-content/plugins/setsail-core/shortcodes/countdown/assets/js/plugins/jquery.countdown.min.js' id='countdown-js'></script>
<script type='text/javascript' src='/design/wp-content/plugins/setsail-core/shortcodes/counter/assets/js/plugins/counter.js' id='counter-js'></script>
<script type='text/javascript' src='/design/wp-content/plugins/setsail-core/shortcodes/counter/assets/js/plugins/absoluteCounter.min.js' id='absoluteCounter-js'></script>
<script type='text/javascript' src='/design/wp-content/plugins/qi-addons-for-elementor/inc/shortcodes/typeout-text/assets/js/plugins/typed.js' id='typed-js'></script>
<script type='text/javascript' src='/design/wp-content/plugins/setsail-core/shortcodes/full-screen-sections/assets/js/plugins/jquery.fullPage.min.js' id='fullPage-js'></script>
<script type='text/javascript' src='/design/wp-content/plugins/setsail-core/shortcodes/vertical-split-slider/assets/js/plugins/jquery.multiscroll.min.js' id='multiscroll-js'></script>
<script type='text/javascript' src='http://maps.googleapis.com/maps/api/js?key=AIzaSyDm0zEJ3h0OeMp_qsvHIzcx_5w5HJVH1L4&amp;ver=5.7' id='setsail-select-google-map-api-js'></script>
<script type="text/javascript" src="../../static.zdassets.com/ekr/snippet1fe8.js?key=af3078fd-a5ae-40da-bee0-e589b98c8603&amp;ver=5.7" id="ze-snippet"></script><script type="text/javascript">
						zE(function(){
							$zopim(function(){
								var isChatEnabled = sessionStorage.getItem("qodeChatEnabled"),
									appearingTime = 15000;
								
								if(isChatEnabled !== "no") {
									setTimeout(function(){
										$zopim.livechat.window.show();
										
										 $zopim.livechat.window.onHide(function(){
										    sessionStorage.setItem("qodeChatEnabled", "no");
										 });
									}, appearingTime);
								}
							});
						});
						</script><script type='text/javascript' src='../wp-includes/js/wp-embed.min.js' id='wp-embed-js'></script>
<script type='text/javascript' src='/design/wp-content/plugins/js_composer/assets/js/dist/js_composer_front.min.js' id='wpb_composer_front_js-js'></script>
</body>

<!-- Mirrored from setsail.qodeinteractive.com/about-us/ by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 01 Nov 2021 11:25:19 GMT -->
</html>
